<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <title>About page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{name}}. It uses data from darsky.net and mapbox.com</p>
        <img class="portrait" src="./img/pic1.png" alt="myPhoto" srcset="">
    </div>

    {{>footer}}
</body>

</html>